<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Short Link Generator</title>
</head>
<body>
    <h1>Create Short Link</h1>
    <form method="post" th:object="${link}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <input type="text" th:field="*{link}" placeholder="YourLink">
        <button type="submit">Shorten</button>
    </form>
    
    <div th:if="${link.shortLink}">
        <a th:href="@{${link.shortLink}}" th:text="'http://localhost:8080/' + ${link.shortLink}">yourLink</a>
    </div>
    
    <form th:action="@{/logout}" method="post" style="margin-top: 20px;">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <button type="submit">Logout</button>
    </form>
</body>
</html>